


.container{
background-image: url("../Images/drawing.jpg");

  height: max-content;
  width: 100%;

}

header{
    height: 7rem;
    border-bottom:solid;
    border-color: antiquewhite;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* chequer el end */
}
.bth{
  width: 13rem;
  border-radius: 12px 12px 12px 12px;
  border-color: white;
  margin-right: 2rem;

}
.bth:hover{
  transform: scale(1.05);
  color:  white;
  background-color: grey;

  transition: all 600ms;
}



.link{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 1.2rem;
color: aliceblue;
}




.paginado{
    width: 100%;
    height: 20%;
    border:solid;
    border-color: antiquewhite;
}
.container1{
    display: flex;
justify-content: space-around;
align-items: stretch ;  
width: 84.4rem;
}
section{
    display: flex;
    width: 76%;
    flex-direction: row;   
    flex-wrap: wrap;     
    justify-content: space-around;  

}
aside{
    border-left:solid wheat;
    background: transparent;
    width: 20%;
    
}

.box {
    padding: 2.3rem;
    margin: 2.3rem;
    margin-left: -1.9rem;
    
  }
  
  .grid-responsive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
   
  } 

  @media (min-width: 500px) {
    .car {
      padding-left: 6rem;
    }
  }
  
  @media (max-width: 300px) {
    .container {
      flex-direction: column;
    }
  }